body{
    font-family:sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 ;
}

/* footer  */
.f-info-links a{
    text-decoration: none;
    color:#222222;
    vertical-align: middle;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,
.f-info-social,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;

}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* show page */
.show-img{
    height: 30vh;
    
}

/* .btns{
    margin-left: 220px;
} */
.b{
    margin-top: 10px;
    background-color: #fe424d;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 75px;
}



/* <b>&#8377; <%= listing.price.toLocaleString("en-IN") %></b><br> */



.book{
    height: 400px;
    width: 500px;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    background-color: #fff;
}




  